header {
    background-color: green;
    border: 2px black solid;
    padding-left: 10px;
}

#header1 {
    text-align: center;
}

#header2 {
    text-align: center;
}

nav, section, footer {
    display: inline-block;
    vertical-align: top;
}

nav {
    position: absolute;
    background-color: orange;
    width: 150px;
    height: 250px;
    border: 2px red solid;
}

section {
    position: absolute;
    right: 20.8%;
    background-color: gray;
    width: 1100px;
    height: 250px;
    border: 2px red solid;
}

footer {
    position: absolute;
    right: 0;
    background-color: lightblue;
    width: 325px;
    height: 150px;
    border: 2px red solid;
}
